<%- include('../header.ejs', { user }) %>
<p><%= comments.content %></p>
<a href="/comments">Back to Comments</a>
<a href="/comments/<%= comments.id %>/edit">Edit Comment</a>
<form action="/deleteComment/<%= comments.id %>" method="post">
  <button type="submit">Delete Comment</button>
<%- include('../footer.ejs') %>