<%- include('../header.ejs', { user }) %>
<div class="greeting">
  <h3>Hello, <%= user.email%> :)</h3>
</div>
<h1>Blog Posts</h1>
<div class="blog">
  <ul>
    <% posts.forEach(post => { %>
      <li><a href="/posts/<%= post.id %>"><%= post.title %></a></li>
    <% }); %>
  </ul>
</div>
<a href="/create">Create New Post</a>
<%- include('../footer.ejs') %>