<!-- <%- include('../header.ejs', { user }) %>
<h1>Search Results</h1>
<ul>
  <% gifs.forEach(gif => { %>
    <li>
      <img src="<%= gif.url %>" alt="<%= gif.title %>">
      <p><%= gif.title %></p>
    </li>
  <% }); %>
</ul>
<%- include('../footer.ejs') %> -->