<%- include('../header.ejs', { user }) %>
<h1>Posts:</h1>
<p>Title: <%= post.title %></p>
<p>Content: <%= post.content %></p>
<h1>Comment Section:</h1>
 <ul>
    <% comments.forEach(comment => { %>
    <li>
      <p><%= comment.content %></p>
      </li>
      <% }); %>
  </ul>
<h1>Gif Section:</h1>
<a href="/posts">Back to Posts</a>
<a href="/posts/<%= post.id %>/edit">Edit Post</a>
<a href="/comments/<%= comments.id %>">Edit Comments</a>
<form action="/deletePost/<%= post.id %>" method="post">
  <button type="submit">Delete Post</button>
<%- include('../footer.ejs') %>