<%- include('../header.ejs', { user }) %>
<h1><%= posts.title %></h1>
<p><%= posts.content %></p>
<p><%= comments.content %></p>
<a href="/posts">Back to Posts</a>
<a href="/posts/<%= posts.id %>/edit">Edit Post</a>
<a href="/comments/<%= comments.id %>">View Comments</a>
<form action="/deletePost/<%= posts.id %>" method="post">
  <button type="submit">Delete Post</button>
<%- include('../footer.ejs') %>